#DATA STRUCTURES
#THEORITICAL QUESTIONS
Q1:What are data structures, and why are they important?

A1: Data structure is the way of storing and organizing data. Its importance is that it can make the data be accessed and manipulated efficiently.

Q2: Explain the difference between mutable and immutable data types with examples?

A2:In mutable data types, the data can be changed/altered at the place. for example-list, dictionary, set etc.

In immutable data types, the data cant be changed at the place after creation.
for example- tuple, strings etc.

Q3:What are the main differences between lists and tuples in Python

A3: lists are mutable whereas tuples are immutable
lists syntax use [] while tuples use ()

Q4:Describe how dictionaries store data

A4: dictionaries store data in the form of key:value pair.
eg.={'name':'akshita','place':'paris'}

Q5:Why might you use a set instead of a list in Python

A5:beacuse set gives unique values- also during the union(addition of 2 sets), it defaultly avoids adding the repeated value in the set.

Q6:What is a string in Python, and how is it different from a list

A6:a string is immutable while a list is mutable.
a string is a collection of sharacters together within quotes'' or "".
a list has different elements that may (or may not)be a collection of various string(s) and they are bound by the [] brackets.

Q7: How do tuples ensure data integrity in Python

A7: tuples ensure integrity in python through their property of bein immutable,i.e.,you can't modify them once they've been created unlike the lists.

Q8:What is a hash table, and how does it relate to dictionaries in Python

A8:a hash table is a data structure that store the values in the dictionary using the key-value pair. they are fastly found, inserted and modified

Q9: Can lists contain different data types in Python

A9: yes, lists can surely contain different data types in python as it is heterogeneuous in nature.

Q10:Explain why strings are immutable in Python

A10: to keep the string safe from any accidental data changes.

Q11:What advantages do dictionaries offer over lists for certain tasks

A11:
1. dictionaries help find data easily by the help of keys that lists dont have.
2. dictionaries have unique values making it simple unlike the lists that have duplicate values
3. you can easily update the values of the dictionaries without calculating/knowing the index

Q12:Describe a scenario where using a tuple would be preferable over a list

A12:we want to use tuple where we dont want any accidental data changes in our code.
for eaxample- enter/ storing a persons date of birth. we dont want it to be accidentally changed or we won't be needing to change it in future, it is one time entry.

Q13:How do sets handle duplicate values in Python

A13: sets do not allow the duplicates in them,they have the unique values.if we have data where we are having any duplicates, the set will automatically remove the duplicate value, while adding the single new value.

Q14: How does the “in” keyword work differently for lists and dictionaries

A14:the 'in' keyword, for the output, checks the specific element in the list, while it checks  for the specific key in the dictionary to get the desired value in the pair.

Q15:Can you modify the elements of a tuple? Explain why or why not

A15:NO,we can't modify the elements of tuple in python because of its property of being immutable,i.e., when a tuple is once created it cant be modified anyhow.

Q16: What is a nested dictionary, and give an example of its use case

A16:in a nested dictionary, the values of the dictionary can themselves be a dictionary. a use case can be-

In [136]:
#EXAMPLE OF Q16
phonebook={
        "emily":{
        "phone no":123456,
        "place":"paris",
        },
        "john":{
        "phone no":456789,
        "place":"luxembourg",
        },
        "selena":{
        "phone no":912456,
        "place":"lyon",
        },
        }
print(phonebook["selena"]["place"])

lyon

Q17: Describe the time complexity of accessing elements in a dictionary

A17:average case:fast direct access using keys
worst case:rare due to hash collisions
keys must be hashable
it uses hash table

Q18:In what situations are lists preferred over dictionaries

A18: lists are preffered over dictionaries when:
1. we want oredered data
2. when we want to access the elements through indexing
3. when the duplicates of any elemts are required/allowed
4. when the collection we want is not much complex and rather a simple one.

Q19: Why are dictionaries considered unordered, and how does that affect data retrieval

A19: there is no position based access for the elements of a dictionary.
affects:
1. we cant retrieve data through indexing
2. we must use key for retrieval
3. dictionaries cant be used for order sensitive data

Q20: Explain the difference between a list and a dictionary in terms of data retrieval

A20:
list:
1. retrieval is done through indexing
2. ordered collection
3. ordered data/sequences
dictionary:
1. retrieval is done through specifying the key
2. key-value mapping/hash table
3. quick lookup by key

#PRACTICAL QUESTIONS

In [96]:
#Q1 Write a code to create a string with your name and print it.
name=str(input("enter your name:"))
print("name of the user= ",name)

enter your name:akshita
name of the user=  akshita

In [97]:
#Q2 Write a code to find the length of the string "Hello World"
string="hello world"
print(len(string))

11

In [98]:
#Q3Write a code to slice the first 3 characters from the string "Python Programming"
string="Python Programming"
print(string[0:3])

Pyt

In [99]:
#Q4 Write a code to convert the string "hello" to uppercase
string="hello"
string.upper()

'HELLO'

In [100]:
#Q5 Write a code to replace the word "apple" with "orange" in the string "I like apple"
string="I like apple"
string.replace("apple","orange")

'I like orange'

In [101]:
#Q6 Write a code to create a list with numbers 1 to 5 and print it
l1=[1,2,3,4,5]
for i in l1:
  print(i)
  i+=1

1
2
3
4
5

In [102]:
#Q7 Write a code to append the number 10 to the list [1, 2, 3, 4]
list2=[1, 2, 3, 4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

In [103]:
#Q8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list2=[1, 2, 3, 4, 5]
list2.remove(3)
print(list2)

[1, 2, 4, 5]

In [104]:
#Q9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l=['a','b','c','d']
print("the second element of the list is",l[1])

the second element of the list is b

In [105]:
#Q10 Write a code to reverse the list [10, 20, 30, 40, 50]
lt=[10,20,30,40,50]
print(lt[::-1])

[50, 40, 30, 20, 10]

In [106]:
#Q11 Write a code to create a tuple with the elements 100, 200, 300 and print it
t=(100,200,300)
print(t)
type(t)

(100, 200, 300)

tuple

In [107]:
#Q12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tupl=('red','green','blue','yellow')
print("the second-to-last element of the tuple is:", tupl[-2])

the second-to-last element of the tuple is: blue

In [108]:
#Q13 Write a code to find the minimum number in the tuple (10, 20, 5, 15)
tup1=(10,20,5,15)
print(min(tup1))

5

In [109]:
#Q14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tup=('dog','cat','rabbit')
print(tup.index('cat'))

1

In [110]:
#Q15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits=("kiwi","banana","mango")
if "kiwi" in fruits:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is in the tuple

In [111]:
#Q16  Write a code to create a set with the elements 'a', 'b', 'c' and print it
s1={'a','b','c'}
print(s1)
type(s1)

{'b', 'c', 'a'}

set

In [112]:
#Q17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s2={1,2,3,4,5}
print(s2.clear())
print(s2)

None
set()

In [113]:
#Q18  Write a code to remove the element 4 from the set {1, 2, 3, 4}
s3={1,2,3,4}
s3.remove(4)
print(s3)

{1, 2, 3}

In [114]:
#Q19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
s1={1,2,3}
s2={3,4,5}
union_set=s1.union(s2)
print(union_set)

{1, 2, 3, 4, 5}

In [115]:
#Q20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1={1,2,3}
s2={2,3,4}
intersection_set=s1.intersection(s2)
print(intersection_set)

{2, 3}

In [116]:
#Q21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it
info_dict={"name":"emily","age":"21","city":"paris"}
print(info_dict)

{'name': 'emily', 'age': '21', 'city': 'paris'}

In [117]:
#Q22  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
info_dict={'name':'john','age':25}
info_dict['country']='USA'
print(info_dict)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [118]:
#Q23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dt={'name': 'Alice', 'age': 30}
print(dt["name"])

Alice

In [119]:
#Q24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
d1={'name': 'Bob', 'age': 22, 'city': 'New York'}
d1.pop('age')
print(d1)

{'name': 'Bob', 'city': 'New York'}

In [120]:
#Q25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
d2={'name': 'Alice', 'city': 'Paris'}
if 'city' in d2:
  print("city key is in the dict")
else:
  print("city key is not in the dict")

city key is in the dict

In [121]:
#Q26  Write a code to create a list, a tuple, and a dictionary, and print them all
l=[1,2.98,"akshita"]
print(l,type(l))
t=(34,"yash",6j+2)
print(t,type(t))
d={"name":"yash","age":20,"city":"paris"}
print(d,type(d))

[1, 2.98, 'akshita'] <class 'list'>
(34, 'yash', (2+6j)) <class 'tuple'>
{'name': 'yash', 'age': 20, 'city': 'paris'} <class 'dict'>

In [122]:
#Q27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
l2=[73,25,2,99,46]
l2.sort()
print(l2)

[2, 25, 46, 73, 99]

In [123]:
#Q28  Write a code to create a list with strings and print the element at the third index
l1=['apple','banana','kiwi','mango','melon']
print(l1[3])

mango

In [124]:
#Q29 Write a code to combine two dictionaries into one and print the result
d1={"student1":"akshita","branch1":"ece"}
d2={"student2":"yash","branch2":"cse"}
combo=d1 | d2
print(combo)

{'student1': 'akshita', 'branch1': 'ece', 'student2': 'yash', 'branch2': 'cse'}

In [128]:
#Q30  Write a code to convert a list of strings into a set
del set
mylist=['mango', 'banana', 'mango', 'muskelon']
list_to_set= set(mylist)
print(list_to_set)

{'muskelon', 'mango', 'banana'}